
#bthree {
    background-image: url(../Images/zen.jpg);
    background-size: cover;
    width: 300px;
    height: 141px;
    color: transparent;
}

#btwo {
    background-image: url(../Images/stress-bad.jpg);
    background-size: cover;
    width: 300px;
    height: 141px;
    color: transparent;
    border: solid rgb(126, 118, 118);
}

#bone {
    background-image: url(../Images/good-stress.jpg);
    background-size: cover;
    width: 300px;
    height: 141px;
    color: transparent;
}

#btwo, #bone, #bthree {
    border-radius: 15px;
}