@import "./BlogHomePage_P2.css";
@import "./BlogHomePage_P3.css";
@import "./BlogHomePage_P4.css";

.container {
    display: grid;
    width: 100%;
    margin: auto;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
    "top top top"
    "nav nav nav"
    "left center right"
    "next next next"
    ". last .";
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    grid-area: top;
    font-size: 24px;
    font-family: fantasy, sans-serif;
    text-align: center;
    color: #753c3c;
    word-wrap: break-word;
}

h1 {
    margin: 0px;
}

button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

#one {
    grid-area: left;
    flex-direction: column;
}

#two {
    grid-area: center;
    flex-direction: column;
}

#three {
    grid-area: right;
    flex-direction: column;
}

#list {
    grid-area: nav;
    height: 90px;
}

#list2 {
    grid-area: next;
    height: 120px;
}
