@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  @media only screen and (max-width: 500px) {
    #title {
        font-family: fantasy, sans-serif;
        text-align: center;
        color: #753c3c;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 30px;
    }
  }