.default:hover {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    border-radius: 8px;
    font-weight: 900;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgb(11, 90, 11);
    transition: 0.8s ease-in-out;
}

.goodstress:hover {
    transform: scale(1.5) rotate(-35deg);
    color: rgb(6, 187, 6);
    padding-bottom: 110px;
}

.avoidbad:hover {
    transform: scale(1.5) rotate(35deg);
    color: red;
    padding-bottom: 110px;
}

.breathe:hover {
    transform: scale(1.5) rotate(-35deg);
    color: rgb(9, 84, 245);
    padding-bottom: 50px;
    padding-right: 120px;
}

.author {
    grid-area: last;
    animation: blinker 1.7s linear infinite;
}

.author a {
    color: #753c3c;
}

.underline {
    text-decoration: underline;
    letter-spacing: 3px;
}

.nav ul li {
    float: left;
    width: 25%;
}

.footernav ul li {
    float: left;
    width: calc(100vw / 3);
}

li a {
    display: block;
    color: #753c3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: #9b5151;
    color: white;
}
  
.active {
    background-color: #9b5151;
    color: white;
}
  
h4 {
    display: flex;
    font-family: fantasy, sans-serif;
    font-weight: bolder;
    height: 5px;
    color: #753c3c;
}

.avoidbad h4 {
    margin-right: 130px;
}

.breathe h4 {
    margin-right: 150px;
}