@import "./BlogHomePage_P2.css";
@import "./BlogHomePage_P3.css";
@import "./BlogHomePage_P4.css";

body {
    margin: 0;
}

.container {
    display: grid;
    width: 100%;
    margin: auto;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
    "top top top"
    "nav nav nav"
    "left center right"
    "next next next"
    ". last .";
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    grid-area: top;
    font-size: 24px;
    font-family: fantasy, sans-serif;
    text-align: center;
    color: #753c3c;
    word-wrap: break-word;
}

h1 {
    margin: 0px;
}

button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

#one {
    grid-area: left;
    flex-direction: column;
}

#two {
    grid-area: center;
    flex-direction: column;
}

#three {
    grid-area: right;
    flex-direction: column;
}

#list {
    grid-area: nav;
    height: 90px;
}

#list2 {
    grid-area: next;
    height: 90px;
    display: block;
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content;
        grid-template-areas:
            "top top"
            "nav"
            "left"
            "center"
            "right"
            "next"
            "last";
    }

    li {
        float: left;
        width: 50%;
    }

    #title {
        font-size: 18px;
    }

    #bone {
        background-image: url(../Images/good-stress.jpg);
        background-size: cover;
        width: 500px;
        height: 200px;
        color: transparent;
    }

    #btwo {
        background-image: url(../Images/stress-bad.jpg);
        background-size: cover;
        width: 500px;
        height: 200px;
        color: transparent;
        border: solid rgb(126, 118, 118);
    }

    #bthree {
        background-image: url(../Images/zen.jpg);
        background-size: cover;
        width: 500px;
        height: 200px;
        color: transparent;
    }

    #bone:hover {
        transform: scale(1.2) rotate(-35deg);
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        border-radius: 8px;
        font-weight: 900;
        font-size: 24px;
        padding-bottom: 150px;
        color: rgb(6, 187, 6);
        text-shadow: 1px 1px 2px rgb(11, 90, 11);
        transition: 0.8s ease-in-out;
    }
    
    #btwo:hover {
        transform: scale(1.2) rotate(35deg);
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        border-radius: 8px;
        font-weight: 900;
        font-size: 24px;
        padding-bottom: 160px;
        color: red;
        text-shadow: 1px 1px 2px rgb(11, 90, 11);
        transition: 0.8s ease-in-out;
    }

    #bthree:hover {
        transform: scale(1.2) rotate(-35deg);
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        border-radius: 8px;
        font-weight: 900;
        font-size: 24px;
        padding-bottom: 100px;
        padding-right: 250px;
        color: rgb(9, 84, 245);
        text-shadow: 1px 1px 2px rgb(11, 90, 11);
        transition: 0.8s ease-in-out;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: #ff9999;
        width: 100%;
        font-family: fantasy, sans-serif;
        margin-top: 10px;
        margin-bottom: 32px;
    }
    h1 {
        margin: 0px;
        font-size: 32px;
    }
}