ul {
    list-style-type: none;
    padding: 0;
    background-color: #ff9999;
    width: 100%;
    font-family: fantasy, sans-serif;
    margin-top: 10px;
    margin-bottom: 32px;
}

.nav {
    grid-area: nav;
    height: 90px;
}

.nav ul {
    display: flex;
}

.nav ul li {
    float: left;
    height: 56px;
    flex: 1;
}

.footer {
    grid-area: next;
    position: relative;
}

.footer ul {
    display: flex;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
}

.footer ul li {
    flex: 1;
}

li a {
    box-sizing: border-box;
    height: 100%; 
    display: block;
    color: #753c3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover, .active {
    background-color: #9b5151;
    color: white;
}

.author {
    display: block;
    animation: blinker 1.7s linear infinite;
}

@media only screen and (max-width: 768px) {
    .nav ul {
        flex-wrap: wrap;
    }

    .nav ul li {
        flex: 1 0 50%;
        display: inline-block;
    }

    ul.footernav li {
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .nav ul {
        display: block;
        margin-top: 110px;
    }

    .nav ul li {
        width: 100%;
    }

    .footer ul {
        display: block;
    }

    ul.footernav li {
        width: 100%;
    }
}