@import "./header.css";
@import "./footer.css";
@import "./quotes.css";
@import "./sections.css";

.container {
    display: grid;
    width: 100%;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-rows: min-content min-content;
    grid-template-areas:
    "header"
    "first"
    "second"
    "social";
    justify-content: center;
}

body {
    margin: 2px;
    background-color: #f577775d;
}