.fa {
    padding: 10px;
    font-size: 30px;
    line-height: 31px;
    width: 80px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    background: #ff9999;
    color: #9b5151;
    width: 80px;
    line-height: 31px;
  }

  .fa-facebook {
    background: #9b5151;
    color: #ff9999;
  }
  
  .fa-twitter {
    background: #9b5151;
    color: #ff9999;
  }

  .fa-linkedin {
    background: #9b5151;
    color: #ff9999;
  }

  .back {
    color: #ff9999;
    font-family: fantasy, sans-serif;
    text-decoration: none;
    padding: 10px;
  }
  
  .back:hover {
    background: #ff9999;
    color: #9b5151;
    width: auto;
    line-height: auto;
  }
  
  .socialmedia {
      grid-area: social;
      background-color: #9b5151;
      margin: 15px 0 15px 0;
      font-size: 20px;
      position: absolute;
  }

  @media only screen and (max-width: 500px) {
    .socialmedia .fa {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .socialmedia {
      display: flex;
    }

    .back p {
      margin: 0;
      text-align: center;
    }
  }