.quote blockquote {
    padding: 1em;
    height: 50px;
    width: 60%;
    color: #753c3c;
    margin: 0 auto;
    margin-block-start: 1.5em;
}

.quote:nth-child(odd) blockquote {
    border-left: 5px solid #9b5151;
    margin-inline-start: 80px;
}

.quote:nth-child(even) blockquote {
    border-right: 5px solid #9b5151;
    border-left: none;
    text-align: end;
    margin-inline-end: 80px;
}

.ita {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .quote:nth-child(odd) blockquote {
        margin-inline-start: 30px;
    }

    .quote:nth-child(even) blockquote {
        margin-inline-end: 30px;
    }

    .one blockquote, .two blockquote {
        margin-bottom: 50px;
        margin-top: 0;
    }

    .three blockquote {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
    .quote:nth-child(odd) blockquote {
        margin-inline-start: 40px;
    }

    .quote:nth-child(even) blockquote {
        margin-inline-end: 40px;
    }

    .one blockquote {
        margin-top: 0;
    }
}

@media only screen and (min-width: 769px) {
    .quote:nth-child(odd) blockquote {
        margin-inline-start: 40px;
    }

    .quote:nth-child(even) blockquote {
        margin-inline-end: 40px;
    }

    .one blockquote {
        margin-top: 0;
    }

    .three blockquote {
        margin-bottom: 20px;
    }
}