.quote blockquote {
    padding: 1em;
    height: 50px;
    width: 60%;
    color: #753c3c;
    margin: 0 auto;
    margin-block-start: 1.5em;
}

.quote:nth-child(odd) blockquote {
    border-left: 5px solid #9b5151;
    margin-inline-start: 80px;
}

.quote:nth-child(even) blockquote {
    border-right: 5px solid #9b5151;
    border-left: none;
    text-align: end;
    margin-inline-end: 80px;
}

.ita {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    /* .quote blockquote {
        width: 100%;
    }
    
    .two blockquote {
        border-left: none;
        text-align: end;
        margin-top: 20px;
    }

    .three blockquote {
        margin-left: 0px;
        margin-bottom: 50px;
    } */
}