.author {
    grid-area: first;
}

.topbox {
    display: flex;
}

.avatar {
    padding: 35px 35px 20px 35px;
}

.who {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    justify-content: flex-end;
}

.about {
    flex-direction: column;
    padding: 15px;
}

.about p {
    color:#753c3c;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.quotes {
    grid-area: second;
    margin-bottom: 20px;
}

.pic {
    border-radius: 50%;
    width: calc(100vw/3.1);
    border: solid 5px rgb(78, 34, 12);
}

.city {
    font-style: italic;
}

.who ul {
    color:#753c3c;
}

ul {
    font-family: "Lucida Console", Courier, monospace;
    list-style-type: square;
    padding: 20px;
}

ul li {
    padding: 5px;
    margin-left: 35px;
}

ul li h5 {
    margin: 2px;
}

@media only screen and (max-width: 500px) {
    .topbox {
        flex-direction: column;
    } 

    .avatar {
        display: flex;
        justify-content: center;
    }

    .who ul {
        padding: 0;
    }

    .about {
        padding: 15px 40px;
    }

    .pic {
        width: calc(100vw/2);
    }
}